/* ---------------------------------------- 默认css针对16:9标准比例屏幕微信----------------------------------------*/
@font-face { font-family: zkwyt; src: url('../css/zkwyt.ttf');}
html,body,article{
	position: fixed;
	padding: 0;
	margin: 0;
	height: 100%!important;
    width: 100%;
	overflow: hidden;
	-webkit-text-size-adjust:100%!important;
	background-color: #d4474e;
}
*{
	font-family: zkwyt;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
}
a{
	cursor: pointer;
}
a, a:visited{
	color: #fff;
}
section{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
aside{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 19;
    background-color: rgba(0,0,0,0.85);
}
.full{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.full2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	will-change:transform,opacity;
}
img{
	pointer-events: none;
}
.coverMask{
	z-index: 9;
	mix-blend-mode: overlay;
	pointer-events: none;
}
.fontLoad{
	position: fixed;
	top: 0;
	left: 0;
	font-family: FZfont;
}
.logo{
	position: absolute;
	z-index: 7;
	top: 0.25rem;
	left: 0.3rem;
	width: 1.23rem;
}
.paddingNone{
	padding: 0;
}
.swiper-container{
	width: 100%;
	height: 3.8rem;
	overflow: hidden;
}
.swiper-pagination-bullet-active{
	background-color: #f6d0a7;
}
#qaswiper2{
	height: 4.8rem;
}
#qaswiper3{
	height: 5rem;
}

#qascroll1,#qascroll2,#qascroll3{
	width: 98%;
	height: 4.5rem;
	overflow: hidden;
}
#qascroll2{
	height: 4rem;
}
#qascroll3{
	height: 3.8rem;
}
.scrollAR{
	position: absolute;
	bottom: -0.5rem;
	left: 50%;
	width: 0.5rem;
	height: 0.5rem;
	margin-left: -0.25rem;
	background-image: url(../images/common/ar.png?v=1);
	background-size: 100%;
	-webkit-animation: updowning 1s ease infinite;
}
#baseQABox .scrollAR{
	bottom: 4.7rem;
}
.qabox .bar{
	position: absolute;
	bottom: -0.05rem;
	right: 0.1rem;
	height: 4.6rem;
	width: 0.15rem;
	border: 1px solid #fff;
}
.qabox .bar4{
	height: 4.1rem;
}
.qabox .bar3{
	height: 3.9rem;
}
#qascroll1 .iScrollIndicator{
	background: -webkit-linear-gradient(rgba(255,255,255,0.3), #03c2b2)!important;
}
#qascroll2 .iScrollIndicator{
	background: -webkit-linear-gradient(rgba(255,255,255,0.3), #3c94cf)!important;
}
#qascroll3 .iScrollIndicator{
	background: -webkit-linear-gradient(rgba(255,255,255,0.3), #4d58b4)!important;
}
/* public end */

.lighting{
	-webkit-animation: lighting 3s ease infinite;
}
.lighting2{
	-webkit-animation: lighting 1.6s ease infinite;
}
@-webkit-keyframes lighting{
	0%{opacity: 0.1;}
	50%{opacity: 1;}
	100%{opacity: 0.1;}
}

.rolling{
	-webkit-animation: rolling 2s ease infinite;
}
@-webkit-keyframes rolling{
	0%{opacity: 0;transform: translate(0,0) rotate(0);}
	30%{opacity: 1;}
	70%{opacity: 1;}
	100%{opacity: 0;transform: translate(0.5rem,0) rotate(360deg);}
}

.moving{
	-webkit-animation: moving 2.5s linear infinite;
}
@-webkit-keyframes moving{
	0%{transform: translate(0,0);}
	100%{transform: translate(1.04rem,0);}
}

.Emphasize{
	-webkit-animation: Emphasize 2s ease infinite;
}
@-webkit-keyframes Emphasize{
	0%{transform: scale(1,1);}
	50%{transform: scale(1.1,1.1);}
	100%{transform: scale(1,1);}
}

.updowning{
	-webkit-animation: updowning 2s ease infinite;
}
@-webkit-keyframes updowning{
	0%{transform: translate(0,0);}
	50%{transform: translate(0,0.1rem);}
	100%{transform: translate(0,0);}
}
/* anime end */

#loadingBox{
	background: url(../images/common/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#loadingBox .cont{
	position: absolute;
	top: 50%;
	left: 0;
	width: 7.5rem;
	height: 7rem;
	margin-top: -4.87rem;
}
#loadingBox .cont .award{
	position: absolute;
	top: 0;
	left: 50%;
	width: 5.94rem;
	height: 6.56rem;
	margin-left: -2.97rem;
}
#loadingBox .cont .award .num{
	position: absolute;
	top: 3.9rem;
	left: -0.08rem;
	width: 100%;
	color: #f5d7ae;
	text-align: center;
	font-size: 0.9rem;
}
#loadingBox .cont .peopleBox{
	position: absolute;
	top: 5.9rem;
	left: 50%;
	width: 3.75rem;
	height: 0.98rem;
	margin-left: -1.875rem;
	transform: translate(2rem, 0);
}
#loadingBox .cont .peopleBox .people{
	position: absolute;
	top: 0;
	left: 0;
	width: 0.5rem;
	height: 1rem;
}
#loadingBox .cont .peopleBox .people img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
#loadingBox .cont .peopleBox .coin{
	position: absolute;
	bottom: 0;
	left: 0.5rem;
	width: 0.29rem;
}
#loadingBox .cont .barBox{
	position: absolute;
	top: 6.9rem;
	left: 50%;
	width: 3.75rem;
	height: 0.22rem;
	margin-left: -1.875rem;
	-webkit-mask: url(../images/loadingBox/mask.png?v=1);
	-webkit-mask-size: 100% 100%;
}
#loadingBox .cont .bar{
	position: absolute;
	top: 0;
	left: -1.04rem;
	height: 0.22rem;
}
#loadingBox .cont .word{
	position: absolute;
	top: 7.3rem;
	left: 50%;
	width: 0.85rem;
	margin-left: -0.425rem;
}
/* loadingBox end */

#ruleBox .cont{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5.9rem;
	height: 11.1rem;
	transform: translate(-50%, -50%);
}
#ruleBox .cont .close{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 3.7rem;
	height: 0.8rem;
	margin-left: -1.85rem;
}
/* ruleBox end */

#indexBox{
	background-image: url(../images/common/bg.jpg);
}
#indexBox .ruleBtn{
	position: absolute;
	top: 0;
	right: 0.36rem;
	width: 1.22rem;
	height: 0.71rem;
}
#indexBox .cont{
	position: absolute;
	top: 50%;
	left: 0;
	width: 7.5rem;
	height: 10rem;
	margin-top: -5rem;
}
#indexBox .cont .title{
	position: absolute;
	top: 0;
	left: 50%;
	width: 5.74rem;
	margin-left: -2.87rem;
}
#indexBox .cont .sence{
	position: absolute;
	bottom: 1.05rem;
	left: 50%;
	width: 5.37rem;
	height: 5.52rem;
	margin-left: -2.685rem;
}
#indexBox .cont .sence .airship{
	position: absolute;
	top: 1.04rem;
	left: 4.32rem;
	width: 1.04rem;
	height: 1.07rem;
}
#indexBox .cont .sence .airship img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
#indexBox .cont .startBtn{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 3.51rem;
	height: 0.74rem;
	margin-left: -1.75rem;
}
#indexBox .cont .cloudBox img:nth-child(1){
	top: 0;
	width: 0.7rem;
	-webkit-animation: clouding 17s linear infinite;
}
#indexBox .cont .cloudBox img:nth-child(2){
	top: 3.4rem;
	width: 0.5rem;
	-webkit-animation: clouding 21s 1s linear infinite;
}
#indexBox .cont .cloudBox img:nth-child(3){
	top: 4.5rem;
	-webkit-animation: clouding 12s linear infinite;
}
#indexBox .cont .cloudBox img:nth-child(4){
	top: 5.6rem;
	width: 0.8rem;
	-webkit-animation: clouding 18s 3s linear infinite;
}
#indexBox .cont .cloudBox img:nth-child(5){
	top: 7.5rem;
	-webkit-animation: clouding 13s 2s linear infinite;
}
/* indexBox end */

#baseQABox{
	background-image: url(../images/common/bg.jpg);
}
#baseQABox .formBox{
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	width: 4.35rem;
	height: 3.98rem;
	margin-left: -2.175rem;
}
#baseQABox .formBox input{
	width: 4.35rem;
	height: 0.83rem;
	margin-bottom: 0.25rem;
	padding: 0 0.22rem 0 0.3rem;
	font-size: 0.27rem;
	line-height: 0.83rem;
	font-family: zkwyt;
}
#submitBtn{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 4.3rem;
	height: 0.9rem;
	margin-left: -2.15rem;
}

#baseQABox .baseInfoBox{
	position: absolute;
	top: 0.5rem;
	left: 0.6rem;
	bottom: 5.4rem;
	right: 0.3rem;
	overflow: hidden;
}
#baseQABox .bar{
	position: absolute;
	top: 0.495rem;
	bottom: 5.35rem;
	right: 0.25rem;
	left: 7.1rem;
	border: 1px solid #fff;
}
#baseQABox .baseInfoBox .scrollBox{
	width: 100%;
	height: auto;
}
.iScrollIndicator{
	border-radius: 0!important;
	background: -webkit-linear-gradient(rgba(255,255,255,0.3), #90423d)!important;
	border: 1px solid #fff!important;
}

#baseInfoBox .block{
	width: 6.2rem;
	height: auto;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.3rem;
	margin-bottom: 0.3rem;
	overflow: hidden;
}
#baseInfoBox .label{
	float: left;
	display: inline-block;
	font-size: 0.35rem;
	color: #fff;
	height: 0.51rem;
	line-height: 0.51rem;
}
#baseInfoBox .labelsp{
	font-size: 0.35rem;
	color: #fff;
	width: 100%;
	height: auto;
	line-height: 1.2;
	margin-bottom: 0.2rem;
}
#baseInfoBox .selectBox{
	float: left;
	height: 0.51rem;
	width: 2.02rem;
	position: relative;
	top: 0;
	margin: 0 0.1rem;
}
#baseInfoBox .selectBox select{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 0.29rem;
	color: #fff;
	padding: 0 0.4rem 0 0.2rem;
}
#baseInfoBox .ansBox{
	width: 7.5rem;
	height: auto;
	overflow: hidden;
	margin-top: 0.1rem;
}
#baseInfoBox .ans{
	cursor: pointer;
}
#baseInfoBox .ansBox1 .ans{
	float: left;
	width: 2.14rem;
	height: 0.63rem;
	background-image: url(../images/chose/r1.png);
	margin-right: 0.5rem;
	font-size: 0.29rem;
	color: #fff;
	line-height: 0.61rem;
	padding-left: 0.5rem;
	text-align: center;
	margin-bottom: 0.1rem;
}
#baseInfoBox .ansBox1 .ans.act{
	background-image: url(../images/chose/r1a.png);
	color: #c94947;
}
#baseInfoBox .ansBox2 .ans{
	float: left;
	width: 4.07rem;
	height: 0.65rem;
	background-image: url(../images/chose/r2.png);
	margin-right: 0.5rem;
	font-size: 0.29rem;
	color: #fff;
	line-height: 0.62rem;
	padding-left: 0.5rem;
	text-align: center;
	margin-bottom: 0.1rem;
}
#baseInfoBox .ansBox2 .ans.act{
	background-image: url(../images/chose/r2a.png);
	color: #c94947;
}
#baseInfoBox .ansBox3 .ans{
	float: left;
	width: 6.15rem;
	height: 0.61rem;
	background-image: url(../images/chose/r3.png);
	margin-right: 0.5rem;
	font-size: 0.24rem;
	color: #fff;
	line-height: 0.58rem;
	padding-left: 0.5rem;
	text-align: center;
	margin-bottom: 0.1rem;
}
#baseInfoBox .ansBox3 .ans.act{
	background-image: url(../images/chose/r3a.png);
	color: #c94947;
}

#baseInfoBox .itemBox{
	width: 100%;
	height: auto;
	margin-bottom: 0.2rem;
}
#baseInfoBox .itemName{
	display: inline-block;
	font-size: 0.29rem;
	color: #fff;
	padding-bottom: 0.05rem;
	position: relative;
	border-bottom: 1px solid #fff;
}
#baseInfoBox .itemName:after{
	content: "";
	position: absolute;
	top: 0.08rem;
	right: -0.3rem;
	width: 0.14rem;
	height: 0.12rem;
	background-image: url(../images/chose/ar.png?v=1);
	background-size: 100%;
}
#baseInfoBox .box{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: none;
	margin-top: 0.15rem;
}
/* baseQABox end */

#resultBox{
	background-color: #d94e55;
}
#resultBox .bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8.62rem;
}
#resultBox .cloudBox{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 7.6rem;
	margin-top: -5rem;
}
#resultBox .cloudBox img:nth-child(1){
	top: 0;
	width: 0.9rem;
	-webkit-animation: clouding 17s linear infinite;
}
#resultBox .cloudBox img:nth-child(2){
	top: 3.4rem;
	width: 0.7rem;
	-webkit-animation: clouding 21s 1s linear infinite;
}
#resultBox .cloudBox img:nth-child(3){
	top: 4.5rem;
	-webkit-animation: clouding 12s linear infinite;
}
#resultBox .tips{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5.77rem;
	margin-top: -5rem;
	margin-left: -2.885rem;
}
/* resultBox end */

#QABox .questionBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
#QABox .qabox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
#QABox .icon{
	position: absolute;
	top: 0;
	left: 0.35rem;
	width: 1.06rem;
	height: 1.52rem;
}
#QABox .icon p{
	color: #fff;
	text-align: right;
	padding-top: 0.22rem;
	font-size: 0.33rem;
	padding-right: 0.2rem;
}
#QABox .icon p:last-child{
	font-size: 0.46rem;
	padding-right: 0;
	letter-spacing: -2px;
}
#QABox .questionBox1 .icon{
	background-image: url(../images/QABox/1/index.png);
}
#QABox .questionBox2 .icon{
	background-image: url(../images/QABox/2/index.png);
}
#QABox .questionBox3 .icon{
	background-image: url(../images/QABox/3/index.png);
}
#QABox .questionBox4 .icon{
	background-image: url(../images/QABox/4/index.png);
}
#QABox .question{
	padding-left: 2rem;
	padding-top: 0.6rem;
	padding-bottom: 0.15rem;;
	line-height: 1.1;
	font-size: 0.46rem;
	color: #fff;
	text-align: justify;
	padding-right: 0.4rem;
}
#QABox .question span{
	font-size: 0.3rem;
	position: relative;
	left: -0.1rem;
}
#QABox .ansBox{
	width: 100%;
	height: auto;
	text-align: center;
	overflow: hidden;
	font-size: 0.3rem;
	display:-webkit-flex;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#QABox .ansBox .ans{
	/* display: inline-block; */
	padding-left: 0.65rem;
	padding-right: 0.05rem;
	height: 0.7rem;
	text-align: center;
	color: #fff;
	padding-top: 0.15rem;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 0.28rem;
	margin-bottom: 0.1rem!important;
	cursor: pointer;
}
#QABox .ansBox .ans.two{
	padding-top: 0.07rem;
}
#QABox .ansBox .ans.two.sp{
	padding-top: 0.07rem;
}
#QABox .ansBox .ans.sp{
	padding-top: 0.21rem
}
#QABox .ansBox .next{
	width: 2rem;
	height: 0.59rem;
	background-image: url(../images/QABox/next.png);
	cursor: pointer;
}
#QABox .ansBox .next.center{
	margin: 0.2rem 1.5rem;
}
#QABox .ansBox .next.inline{
	/* display: inline-block; */
}
#QABox .title{
	position: absolute;
	top: 2.2rem;
	left: 50%;
	width: 6.59rem;
	margin-left: -3.3rem;
}

#QABox .questionBox1 .tips{
	display: block;
	width: 3.62rem;
	margin: 0 1.5rem 0.3rem;
}
#QABox .questionBox1 .ans1{
	width: 4.07rem;
	background-image: url(../images/QABox/1/1.png);
	margin: 0 0.5rem;
}
#QABox .questionBox1 .ans1.act{
	color: #02948a;
	background-image: url(../images/QABox/1/1a.png);
}

#QABox .questionBox1 .ans2{
	width: 2.68rem;
	background-image: url(../images/QABox/1/2.png);
	margin: 0 0.35rem;
}
#QABox .questionBox1 .ans2.act{
	color: #02948a;
	background-image: url(../images/QABox/1/2a.png);
}

#QABox .questionBox1 .ans3{
	width: 5rem;
	background-image: url(../images/QABox/1/3.png);
	margin: 0 0.5rem;
}
#QABox .questionBox1 .ans3.act{
	color: #02948a;
	background-image: url(../images/QABox/1/3a.png);
}

#QABox .questionBox1 .ans4{
	width: 6.05rem;
	background-image: url(../images/QABox/1/4.png);
	margin: 0 0.5rem;
}
#QABox .questionBox1 .ans4.act{
	color: #02948a;
	background-image: url(../images/QABox/1/4a.png);
}

#QABox .questionBox1 .ans5{
	width: 1.67rem;
	background-image: url(../images/QABox/1/5.png);
	margin: 0 0.2rem;
}
#QABox .questionBox1 .ans5.act{
	color: #02948a;
	background-image: url(../images/QABox/1/5a.png);
}

#QABox .questionBox1 .ans6{
	width: 2.68rem;
	background-image: url(../images/QABox/1/6.png);
	margin: 0 0.35rem;
}
#QABox .questionBox1 .ans6.act{
	color: #02948a;
	background-image: url(../images/QABox/1/6a.png);
}

#QABox .questionBox1 .ans7{
	width: 5rem;
	height: 0.89rem;
	background-image: url(../images/QABox/1/7.png);
	margin: 0 0.2rem;
	padding-top: 0.1rem!important;
	line-height: 1.2;
}
#QABox .questionBox1 .ans7.act{
	color: #02948a;
	background-image: url(../images/QABox/1/7a.png);
}

#QABox .questionBox1 .ans8{
	width: 5.7rem;
	background-image: url(../images/QABox/1/8.png);
	margin: 0 0.2rem;
}
#QABox .questionBox1 .ans8.act{
	color: #02948a;
	background-image: url(../images/QABox/1/8a.png);
}

#QABox .questionBox1 .ans9{
	width: 3.2rem;
	background-image: url(../images/QABox/1/9.png);
	margin: 0 0.2rem;
}
#QABox .questionBox1 .ans9.act{
	color: #02948a;
	background-image: url(../images/QABox/1/9a.png);
}

#QABox .questionBox2 .ans1{
	width: 2.94rem;
	background-image: url(../images/QABox/2/1.png);
	margin: 0 0.2rem;
}
#QABox .questionBox2 .ans1.act{
	color: #2670a1;
	background-image: url(../images/QABox/2/1a.png);
}

#QABox .questionBox2 .ans2{
	width: 4.99rem;
	background-image: url(../images/QABox/2/2.png);
	margin: 0 0.5rem;
}
#QABox .questionBox2 .ans2.act{
	color: #2670a1;
	background-image: url(../images/QABox/2/2a.png);
}

#QABox .questionBox2 .ans3{
	width: 5.69rem;
	background-image: url(../images/QABox/2/3.png);
	margin: 0 0.5rem;
}
#QABox .questionBox2 .ans3.act{
	color: #2670a1;
	background-image: url(../images/QABox/2/3a.png);
}

#QABox .questionBox2 .ans4{
	width: 2.35rem;
	background-image: url(../images/QABox/2/4.png);
	margin: 0 0.5rem;
}
#QABox .questionBox2 .ans4.act{
	color: #2670a1;
	background-image: url(../images/QABox/2/4a.png);
}

#QABox .questionBox2 .ans5{
	width: 4.99rem;
	background-image: url(../images/QABox/2/5.png);
	margin: 0 0.5rem;
}
#QABox .questionBox2 .ans5.act{
	color: #2670a1;
	background-image: url(../images/QABox/2/5a.png);
}

#QABox .questionBox3 .tips{
	display: block;
	width: 4.57rem;
	margin: 0 auto 0.3rem;
}
#QABox .questionBox3 .ans1{
	width: 6.16rem;
	background-image: url(../images/QABox/3/1.png);
	margin: 0 0.5rem;
}
#QABox .questionBox3 .ans1.act{
	color: #41498e;
	background-image: url(../images/QABox/3/1a.png);
}

#QABox .questionBox3 .ans2{
	width: 2.68rem;
	background-image: url(../images/QABox/3/2.png);
	margin: 0 0.2rem;
}
#QABox .questionBox3 .ans2.act{
	color: #41498e;
	background-image: url(../images/QABox/3/2a.png);
}

#QABox .questionBox3 .ans3{
	width: 4.16rem;
	background-image: url(../images/QABox/3/3.png);
	margin: 0 0.5rem;
}
#QABox .questionBox3 .ans3.act{
	color: #41498e;
	background-image: url(../images/QABox/3/3a.png);
}

#QABox .questionBox3 .ans4{
	width: 3.5rem;
	background-image: url(../images/QABox/3/4.png);
	margin: 0 0.1rem;
}
#QABox .questionBox3 .ans4.act{
	color: #41498e;
	background-image: url(../images/QABox/3/4a.png);
}

#QABox .questionBox3 .ans5{
	width: 6.16rem;
	background-image: url(../images/QABox/3/5.png);
	margin: 0 0.5rem;
}
#QABox .questionBox3 .ans5.act{
	color: #41498e;
	background-image: url(../images/QABox/3/5a.png);
}

#QABox .questionBox3 .ans6{
	width: 2.68rem;
	background-image: url(../images/QABox/3/6.png);
	margin: 0 0.2rem;
}
#QABox .questionBox3 .ans6.act{
	color: #41498e;
	background-image: url(../images/QABox/3/6a.png);
}

#QABox .questionBox4 .ans1{
	width: 3.09rem;
	background-image: url(../images/QABox/4/1.png);
	margin: 0 0.2rem;
}
#QABox .questionBox4 .ans1.act{
	color: #c44f4e;
	background-image: url(../images/QABox/4/1a.png);
}

#QABox .questionBox4 .ans2{
	width: 6.53rem;
	background-image: url(../images/QABox/4/2.png);
	margin: 0 0.5rem;
}
#QABox .questionBox4 .ans2.act{
	color: #c44f4e;
	background-image: url(../images/QABox/4/2a.png);
}
/* QABox end */
/*---------------------------------------- 15:9 ----------------------*/
.screen159 #baseQABox .baseInfoBox{
	bottom: 5.2rem;
}
.screen159 #baseQABox .bar{
	bottom: 5.15rem;
}
/*---------------------------------------- 18:9 ----------------------*/
.screen189 #baseQABox .baseInfoBox{
	bottom: 5.2rem;
}
.screen189 #baseQABox .bar{
	bottom: 5.15rem;
}