.index {
	overflow-x: hidden;
	overflow-y: scroll;
}
.index .topImg {
	background: url(../images/topImg.jpg);
	width: 750px;
	height: 2575px;
	object-fit: cover;
}
.question {
	width: 750px;
	position: absolute;
	left: 0;
}
.question h2 {
	width: 750px;
	height: 150px;
	margin-top: 150px;
}
.question ul {
	width: 100%;
	height: auto;
	margin-top: 2%;
	padding: 0 10% 0 14%;
	box-sizing: border-box;
}
.question ul.T10 {
	padding: 0 12%;
}
.question li {
	width: 100%;
	height: 50px;
	font-size: 27px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	box-sizing: border-box;
	margin: 16px 0;
	padding-left: 10px;
	letter-spacing: -2.5px;
}
.question5 li, .question8 li {
	margin: 13px 0;
}
.question li label {
	width: 100%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.question input.RMH {
	width: 160px;
	height: 29px;
	line-height: 29px;
	font-family: "FZY4JWGB10", "microsoft yahei";
	font-size: .85em;
	background: white;
	border-radius: 0;
	margin: 8px 0 0 15px;
	padding: 0 0 0 5px;
	box-sizing: border-box;
	border: 1px solid black;
}
.question input.checkBox {
	width: 35px;
	height: 35px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/icon_checkbox.png) center center no-repeat;
	border: none;
	margin: 8px 3px 0 top;
}
.question input.checkBox:checked {
	background: url(../images/icon_checkbox1.png) center center no-repeat;
	border: none;
	margin: 8px 3px 0 top;
}
.question p {
	width: max-content;
	height: 100%;
	margin-top: -3px;
	text-indent: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.question1 {
	background: url(../images/questionbg1.png);
	height: 780px;
	top: 2595px;
}
.question1 h2 {
	background: url(../images/q1.png);
}
.T1_1.cur {
	background: url(../images/t1_1gb.png) left top no-repeat;
	background-size: contain;
	width: 270px;
}
.T1_2.cur {
	background: url(../images/t1_2gb.png) left top no-repeat;
	background-size: contain;
	width: 245px;
}
.T1_3.cur {
	background: url(../images/t1_3gb.png) left top no-repeat;
	background-size: contain;
	width: 175px;
}
.T1_4.cur {
	background: url(../images/t1_4gb.png) left top no-repeat;
	background-size: contain;
	width: 275px;
}
.T1_5.cur {
	background: url(../images/t1_5gb.png) left top no-repeat;
	background-size: contain;
	width: 275px;
}
.T1_6.cur {
	background: url(../images/t1_6gb.png) left top no-repeat;
	background-size: contain;
	width: 175px;
}
.question2 {
	background: url(../images/questionbg2.png);
	height: 710px;
	top: 3390px;
	background-size: 100% 100%;
}
.question2 h2 {
	background: url(../images/q2.png);
}
.T2_1.cur {
	background: url(../images/t2_1gb.png) left top no-repeat;
	background-size: contain;
	width: 375px;
}
.T2_2.cur {
	background: url(../images/t2_2gb.png) left top no-repeat;
	background-size: contain;
	width: 455px;
}
.T2_3.cur {
	background: url(../images/t2_3gb.png) left top no-repeat;
	background-size: contain;
	width: 530px;
}
.T2_4.cur {
	background: url(../images/t2_4gb.png) left top no-repeat;
	background-size: contain;
	width: 570px;
}
.T2_4 p {
	letter-spacing: -2.5px;
}
.T2_5.cur {
	background: url(../images/t2_5gb.png) left top no-repeat;
	background-size: contain;
	width: 475px;
}
.question3 {
	background: url(../images/questionbg3.png);
	height: 783px;
	top: 4135px;
}
.question3 h2 {
	background: url(../images/q3.png);
}
.T3_1.cur {
	background: url(../images/t3_1gb.png) left top no-repeat;
	background-size: contain;
	width: 425px;
}
.T3_2.cur {
	background: url(../images/t3_2gb.png) left top no-repeat;
	background-size: contain;
	width: 450px;
}
.T3_3.cur {
	background: url(../images/t3_3gb.png) left top no-repeat;
	background-size: contain;
	width: 300px;
}
.T3_4.cur {
	background: url(../images/t3_4gb.png) left top no-repeat;
	background-size: contain;
	width: 520px;
}
.T3_5.cur {
	background: url(../images/t3_5gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.T3_6.cur {
	background: url(../images/t3_6gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.question4 {
	background: url(../images/questionbg4.png);
	height: 710px;
	top: 4930px;
	background-size: 100% 100%;
}
.question4 h2 {
	background: url(../images/q4.png);
}
.T4_1.cur {
	background: url(../images/t4_1gb.png) left top no-repeat;
	background-size: contain;
	width: 200px;
}
.T4_2.cur {
	background: url(../images/t4_2gb.png) left top no-repeat;
	background-size: contain;
	width: 395px;
}
.T4_3.cur {
	background: url(../images/t4_3gb.png) left top no-repeat;
	background-size: contain;
	width: 420px;
}
.T4_4.cur {
	background: url(../images/t4_4gb.png) left top no-repeat;
	background-size: contain;
	width: 270px;
}
.T4_5.cur {
	background: url(../images/t4_5gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.question5 {
	background: url(../images/questionbg5.png);
	height: 957px;
	top: 5675px;
}
.question5 h2 {
	background: url(../images/q5.png);
}
.T5_1.cur {
	background: url(../images/t5_1gb.png) left top no-repeat;
	background-size: contain;
	width: 290px;
}
.T5_2.cur {
	background: url(../images/t5_2gb.png) left top no-repeat;
	background-size: contain;
	width: 310px;
}
.T5_3.cur {
	background: url(../images/t5_3gb.png) left top no-repeat;
	background-size: contain;
	width: 310px;
}
.T5_4.cur {
	background: url(../images/t5_4gb.png) left top no-repeat;
	background-size: contain;
	width: 375px;
}
.T5_5.cur {
	background: url(../images/t5_5gb.png) left top no-repeat;
	background-size: contain;
	width: 315px;
}
.T5_6.cur {
	background: url(../images/t5_6gb.png) left top no-repeat;
	background-size: contain;
	width: 235px;
}
.T5_7.cur {
	background: url(../images/t5_7gb.png) left top no-repeat;
	background-size: contain;
	width: 160px;
}
.T5_8.cur {
	background: url(../images/t5_8gb.png) left top no-repeat;
	background-size: contain;
	width: 160px;
}
.T5_9.cur {
	background: url(../images/t5_9gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.question6 {
	background: url(../images/questionbg6.png);
	height: 780px;
	top: 6645px;
	background-size: 100% 100%;
}
.question6 h2 {
	background: url(../images/q6.png);
}
.T6_1.cur {
	background: url(../images/t6_1gb.png) left top no-repeat;
	background-size: contain;
	width: 190px;
}
.T6_2.cur {
	background: url(../images/t6_2gb.png) left top no-repeat;
	background-size: contain;
	width: 220px;
}
.T6_3.cur {
	background: url(../images/t6_3gb.png) left top no-repeat;
	background-size: contain;
	width: 200px;
}
.T6_4.cur {
	background: url(../images/t6_4gb.png) left top no-repeat;
	background-size: contain;
	width: 170px;
}
.T6_5.cur {
	background: url(../images/t6_5gb.png) left top no-repeat;
	background-size: contain;
	width: 200px;
}
.T6_6.cur {
	background: url(../images/t6_6gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.question7 {
	background: url(../images/questionbg7.png);
	height: 908px;
	top: 7450px;
}
.question7 h2 {
	background: url(../images/q7.png);
}
.T7_1.cur {
	background: url(../images/t7_1gb.png) left top no-repeat;
	background-size: contain;
	width: 200px;
}
.T7_2.cur {
	background: url(../images/t7_2gb.png) left top no-repeat;
	background-size: contain;
	width: 225px;
}
.T7_3.cur {
	background: url(../images/t7_3gb.png) left top no-repeat;
	background-size: contain;
	width: 175px;
}
.T7_4.cur {
	background: url(../images/t7_4gb.png) left top no-repeat;
	background-size: contain;
	width: 175px;
}
.T7_5.cur {
	background: url(../images/t7_5gb.png) left top no-repeat;
	background-size: contain;
	width: 225px;
}
.T7_6.cur {
	background: url(../images/t7_6gb.png) left top no-repeat;
	background-size: contain;
	width: 225px;
}
.T7_7.cur {
	background: url(../images/t7_7gb.png) left top no-repeat;
	background-size: contain;
	width: 225px;
}
.T7_8.cur {
	background: url(../images/t7_8gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.question8 {
	background: url(../images/questionbg8.png);
	height: 1067px;
	top: 8380px;
}
.question8 h2 {
	background: url(../images/q8.png);
}
.T8_1.cur {
	background: url(../images/t8_1gb.png) left top no-repeat;
	background-size: contain;
	width: 130px;
}
.T8_2.cur {
	background: url(../images/t8_2gb.png) left top no-repeat;
	background-size: contain;
	width: 220px;
}
.T8_3.cur {
	background: url(../images/t8_3gb.png) left top no-repeat;
	background-size: contain;
	width: 160px;
}
.T8_4.cur {
	background: url(../images/t8_4gb.png) left top no-repeat;
	background-size: contain;
	width: 160px;
}
.T8_5.cur {
	background: url(../images/t8_5gb.png) left top no-repeat;
	background-size: contain;
	width: 130px;
}
.T8_6.cur {
	background: url(../images/t8_6gb.png) left top no-repeat;
	background-size: contain;
	width: 130px;
}
.T8_7.cur {
	background: url(../images/t8_7gb.png) left top no-repeat;
	background-size: contain;
	width: 200px;
}
.T8_8.cur {
	background: url(../images/t8_8gb.png) left top no-repeat;
	background-size: contain;
	width: 130px;
}
.T8_9.cur {
	background: url(../images/t8_9gb.png) left top no-repeat;
	background-size: contain;
	width: 130px;
}
.T8_10.cur {
	background: url(../images/t8_10gb.png) left top no-repeat;
	background-size: contain;
	width: 180px;
}
.T8_11.cur {
	background: url(../images/t8_11gb.png) left top no-repeat;
	background-size: contain;
	width: 400px;
}
.question9 {
	background: url(../images/questionbg9.png);
	height: 710px;
	top: 9470px;
	background-size: 100% 100%;
}
.question9 h2 {
	background: url(../images/q9.png);
}
.T9_1.cur {
	background: url(../images/t9_1gb.png) left top no-repeat;
	background-size: contain;
	width: 175px;
}
.T9_2.cur {
	background: url(../images/t9_2gb.png) left top no-repeat;
	background-size: contain;
	width: 225px;
}
.T9_3.cur {
	background: url(../images/t9_3gb.png) left top no-repeat;
	background-size: contain;
	width: 205px;
}
.T9_4.cur {
	background: url(../images/t9_4gb.png) left top no-repeat;
	background-size: contain;
	width: 225px;
}
.T9_5.cur {
	background: url(../images/t9_5gb.png) left top no-repeat;
	width: 400px;
	background-size: contain;
}
.question10 {
	background: url(../images/questionbg10.png);
	height: 643px;
	top: 10230px;
	z-index: 2;
}
.question10 li {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.question10 h2 {
	background: url(../images/q10.png);
	height: 175px;
}
.question10 textarea {
	width: 85%;
	height: 200px;
	font-family: "FZY4JWGB10", "microsoft yahei";
	display: flex;
	font-size: .9em;
	padding: 3%;
	margin: 1vh auto;
	background: white;
	box-sizing: border-box;
}
.question11 {
	background: url(../images/questionbg11.png);
	height: 1520px;
	top: 10850px;
	z-index: 1;
}
.question10 li {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.question11 .phone {
	width: 350px;
	height: 70px;
	font-family: "FZY4JWGB10", "microsoft yahei";
	color: white;
	font-size: 1.3em;
	background: #ee7519;
	border: 5px solid black;
	border-radius: 10px;
	position: absolute;
	bottom: 570px;
	left: calc(50% - 350px / 2 );
	margin: 0;
	padding: 0 15px;
	box-sizing: border-box;
}
.question11 .btn_confirm {
	background: url(../images/btn_confirm.png);
	width: 507px;
	height: 212px;
	position: absolute;
	left: calc(50% - 507px / 2 );
	bottom: 175px;
}
.question11 .btn_confirm .icon_hand {
	background: url(../images/icon_hand.png);
	width: 110px;
	height: 114px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.question11 .btn_confirm .icon_hand.cur {
	transform: scale(1);
	animation: icon_hand .5s linear infinite alternate;
}
@keyframes icon_hand {
 0% {
 transform: scale(.9);
}
 100% {
 transform: scale(1);
}
}
